<% if !current_admin%>
    <h1 id='title'>Welcome to ReportingApp.</h1>
    <div class='buttons'>
        <ul>
            <li class=><%= link_to "I am an admin",     new_admin_session_path,  class: "btn btn-lg btn-primary home-btn" %></li>
        </ul>
    </div>
<%else%>
    <% if admin_signed_in?%>
        <%= render 'home_partials/admin' %>
    <% end %>
<%end%>
