<h1 id='title'>Welcome to Reporting App</h1>
<%if !current_admin%>
    <%= link_to "Sign in", new_admin_session_path , class: "btn btn-lg btn-primary" %>
<%else%>
<%= link_to "Get started", "#", class: "btn btn-lg btn-primary" %>
<%end%>   